<div>
  <img src="<%= @topic["thumbnail"] %>" alt="user's thumbnail">
  <p class="t_top"><%= @topic["user"] %></p>
</div>
<p><%= @topic["title"] %></p>
<p><%= @topic["topic"] %></p>
<div>
  <a href="/categories/<%= @categories %>/comments?tlike=true&id=<%= @id %>" alt="add a like">Like <%= @tlike %>!</a>
  <a href="/categories/<%= @categories %>/comments?tdislike=true&id=<%= @id %>" alt="add a dislike">Dislike <%= @dislike %>!</a>
</div>

<% @comments.each_with_index do |comment, index| %>
  <div>
    <img src="<%= comment["thumbnail"] %>" alt="user's thumbnail">
    <p class="t_top"><%= comment["user"] %></p>
  </div>
  <p><%= comment["comment"] %></p>
  <div>
    <a href="/categories/<%= @categories %>/comments?clike=true&id=<%= @id %>&index=<%= index %>" alt="add a like">Like <%= comment["like"] %>!</a>
    <a href="/categories/<%= @categories %>/comments?cdislike=true&id=<%= @id %>&index=<%= index %>" alt="add a dislike">Dislike <%= comment["dislike"] %>!</a>
  </div>
<% end %>

<form method="post" action="/categories/<%= @categories %>/comments?id=<%= @id %>">

  <label>Enter A Comment:
    <textarea rows="4" cols="50" name="comment">
    </textarea>
  </label>

  <input type="hidden" name="like" value="0">
  <input type="hidden" name="dislike" value="0">

  <input type="submit" value="Add Comment">

</form>
